<%- include("header") -%>

    <div class="box" id="heading">
      <!-- <%= %> Is EJS syntax, here we place variables that are passed from javascript -->
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <!-- Each time we click submit a new item is appended to the ul -->
      <% for (var i=0; i<newListItems.length; i++) { %>
        <div class="item">
          <input type="checkbox" name="" value="">
          <p> <%= newListItems[i] %> </p>
        </div>
      <% } %>

      <!-- When we click the button the string gets appended to newListItems -->
      <form class="" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= listTitle %> >+</button>
      </form>
    </div>

    <%- include("footer") -%>
